name: Deploy Data Quest Infra

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  deploy-infra:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Show AWS identity (debug)
        run: aws sts get-caller-identity

      - name: Make deploy script executable
        run: chmod +x infra/deploy_pipeline.sh

      - name: Deploy CloudFormation stacks
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
          USE_PROFILE: "false"
        run: |
          ./infra/deploy_pipeline.sh dev

