name: Deploy Data Quest Infra

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  deploy-infra:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Show AWS identity (debug)
        run: aws sts get-caller-identity

      - name: Make deploy script executable
        run: chmod +x infra/deploy_pipeline.sh

      - name: Deploy CloudFormation stacks
        env:
          AWS_REGION: us-east-1
          USE_PROFILE: "false"
        run: |
          ./infra/deploy_pipeline.sh dev
